@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Slab';
  font-display: swap;
  font-weight: bold;
  src: url('../assets/fonts/roboto-slab/static/bold.ttf');
}

@layer base {
  h1 {
    @apply font-bold text-3xl text-indigo-900 dark:text-violet-300;
  }
  h2 {
    @apply font-bold text-2xl text-indigo-900 dark:text-violet-300;
  }
  h3 {
    @apply font-bold text-xl;
  }
  h4 {
    @apply font-bold text-lg;
  }
  h5 {
    @apply font-bold leading-7;
  }
  h6 {
    @apply italic leading-7;
  }

  p {
    @apply my-2;
  }

  ul {
    @apply list-disc ms-8 my-2;
  }

  ol {
    @apply list-decimal marker:font-semibold ms-8 my-2;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1.5px black;
  }
}